* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
   
 
  }


  body{
    overflow-x:hidden;
  }
 
 
  html {
    font-size: 62.5%;
  }
  
  .enrol{
    background:greenyellow;
    height:7.9rem;
    text-align:center;
  

}


.enrol h6{
    font-size:2.3rem;
    font-weight:bold;
    position:relative;
    top:1.7rem;
 
}


#mail{
    padding-left:5.2rem;
   margin-top:2.9rem;
}

.mailC{
    margin-right:7.2rem;
    font-size:2.1rem;
    font-weight:bold;
}


.inp{

    border-radius:.7rem;
    height:3.1rem;
    width:24.3rem;
    
}


#website{
    border-radius:.7rem;
    height:3.1rem;
   
    margin-left:2.8rem;
}


#email{
    border-radius:.7rem;
    height:3.1rem;
    
    margin-left:2.7rem;  
}



#name{
    border-radius:.7rem;
    height:3.1rem;
    
    margin-left:4.9rem;  
}


input{
    text-align:center;
}


.gender{
    padding-left:5rem;
    font-size:2.1rem;
}


.main{
    
    height:52.3rem;
}



.flexgender{
    position:relative;
    top:-2.1rem;
    left:23.3rem;
    font-weight:bold;
    font-size:1.3rem;

    
    
}

.maingender{
margin-top:2.3rem;
}


.java{
    font-size:1.2rem;
    font-weight:bold;
    margin-left:5.2rem;
}


#checkbox{
    margin-left:7.3rem;
}


#javaID{
    font-size:2.1rem;
    font-weight:bold;
}


#java{
    margin-left: 1rem;
    font-size:1.6rem;
}


.allskils{
    display:flex;
    position:relative;
    top:-1.8rem;
    left:10.7rem;
}



.box2{
    position:relative;
    right:5.3rem;
}


.box3{
    position:relative;
    right:8.7em;
}


.btn button{
    background:blue;
    border-radius:1rem;
    color:white;
    height:4.9rem;
    width:13.7rem;
    margin-left:4.9rem;
}


.btn2 button{
    background:red;
    border-radius:1rem;
    color:white;
    height:4.9rem;
    width:11.7rem;
    margin-left:4.9rem;
}


.registerBTN{
    font-weight:bold;
}


.btton{
    display:flex;
}


 #line{
    width:.1rem;
    height:41.7rem;
    border:.2rem solid rgb(241, 196, 196);
    position:relative;
    top:-41.3rem;
    left:72.3rem;
} 



.main3{
    position:relative;
    top:-82.3rem;
    left:-42.3rem;
}

.main3 h2{
    font-size:2.3rem;
    font-weight:bold;
    position:relative;
    left:-12.2rem;
}



   .all{

    border:.2rem solid plum;
    height:72.9rem;
    background:rgb(252, 227, 205);

}


table{
	margin-top: 50px;
	text-align: center;
	/* background:rgb(190, 173, 243); */
	color:black;
    position:relative;
    left:-29.3rem;
    font-size:2rem;
    /* border-radius:1.2rem; */


}

#show th{
	padding: 23px;
}


.main3{
  position:relative;
  left:109.3rem;
}







